# Created using winget configure export 1.12.210-preview
# yaml-language-server: $schema=https://aka.ms/configuration-dsc-schema/0.3
$schema: https://raw.githubusercontent.com/PowerShell/DSC/main/schemas/2023/08/config/document.json
metadata:
  winget:
    processor:
      identifier: "dscv3"
resources:
- name: Microsoft.WinGet/Package_qjx686qd
  type: Microsoft.WinGet/Package
  metadata:
    description: "Configure Microsoft.PowerShell"
  properties:
    id: "Microsoft.PowerShell"
    source: "winget"
- name: Microsoft.WinGet/UserSettingsFile-0
  type: Microsoft.WinGet/UserSettingsFile
  properties:
    settings: {}
- name: Microsoft.WinGet/AdminSettings-0
  type: Microsoft.WinGet/AdminSettings
  metadata:
    winget:
      securityContext: "elevated"
  properties:
    settings:
      LocalManifestFiles: false
      ProxyCommandLineOptions: false
      BypassCertificatePinningForMicrosoftStore: false
      InstallerHashOverride: false
      LocalArchiveMalwareScanOverride: false
- name: Microsoft.DSC.Transitional/RunCommandOnSet_4p3f2erv
  type: Microsoft.DSC.Transitional/RunCommandOnSet
  metadata:
    description: "Configure Microsoft.Windows.Settings"
  dependsOn:
  - Microsoft.WinGet/Package_qjx686qd
  properties:
    arguments:
    - "-NoProfile"
    - "-NoLogo"
    - "-Command"
    - "if (-not (Get-Module -ListAvailable -Name Microsoft.Windows.Settings)) { Install-Module
      -Name Microsoft.Windows.Settings -Confirm:$False -Force -AllowPrerelease -AllowClobber
      }"
    executable: "pwsh"
- name: Microsoft.Windows.Settings/WindowsSettings_6cbvftat
  type: Microsoft.Windows.Settings/WindowsSettings
  metadata:
    description: "Configure Microsoft.Windows.Settings/WindowsSettings"
    winget:
      securityContext: "elevated"
  dependsOn:
  - Microsoft.DSC.Transitional/RunCommandOnSet_4p3f2erv
  properties:
    SystemColorMode: "Dark"
    DeveloperMode: true
    TaskbarAlignment: "Middle"
    AppColorMode: "Dark"
- name: winget_Docker.DockerDesktop
  type: Microsoft.WinGet/Package
  metadata:
    description: "Install Docker.DockerDesktop"
  properties:
    id: "Docker.DockerDesktop"
    source: "winget"
- name: winget_Git.Git
  type: Microsoft.WinGet/Package
  metadata:
    description: "Install Git.Git"
  properties:
    id: "Git.Git"
    source: "winget"
- name: winget_JFLarvoire.Ag
  type: Microsoft.WinGet/Package
  metadata:
    description: "Install JFLarvoire.Ag"
  properties:
    id: "JFLarvoire.Ag"
    source: "winget"
- name: winget_jqlang.jq
  type: Microsoft.WinGet/Package
  metadata:
    description: "Install JQ"
  properties:
    id: "jqlang.jq"
    source: "winget"    
- name: winget_Oracle.JavaRuntimeEnvironment
  type: Microsoft.WinGet/Package
  metadata:
    description: "Install Oracle.JavaRuntimeEnvironment"
  properties:
    id: "Oracle.JavaRuntimeEnvironment"
    source: "winget"    
- name: winget_Microsoft.AzureCLI
  type: Microsoft.WinGet/Package
  metadata:
    description: "Install Microsoft.AzureCLI"
  properties:
    id: "Microsoft.AzureCLI"
    source: "winget"
- name: winget_JohnMacFarlane.Pandoc
  type: Microsoft.WinGet/Package
  metadata:
    description: "Install JohnMacFarlane.Pandoc"
  properties:
    id: "JohnMacFarlane.Pandoc"
    source: "winget"
- name: winget_Kitware.CMake
  type: Microsoft.WinGet/Package
  metadata:
    description: "Install Kitware.CMake"
  properties:
    id: "Kitware.CMake"
    source: "winget"
- name: winget_GnuPG.GnuPG
  type: Microsoft.WinGet/Package
  metadata:
    description: "Install GnuPG.GnuPG"
  properties:
    id: "GnuPG.GnuPG"
    source: "winget"
- name: winget_GnuPG.Gpg4win
  type: Microsoft.WinGet/Package
  metadata:
    description: "Install GnuPG.Gpg4win"
  properties:
    id: "GnuPG.Gpg4win"
    source: "winget"
- name: winget_LLVM.LLVM
  type: Microsoft.WinGet/Package
  metadata:
    description: "Install LLVM.LLVM"
  properties:
    id: "LLVM.LLVM"
    source: "winget"
- name: winget_Microsoft.VCRedist.2015+.x86
  type: Microsoft.WinGet/Package
  metadata:
    description: "Install Microsoft.VCRedist.2015+.x86"
  properties:
    id: "Microsoft.VCRedist.2015+.x86"
    source: "winget"
- name: winget_Python.Launcher
  type: Microsoft.WinGet/Package
  metadata:
    description: "Install Python.Launcher"
  properties:
    id: "Python.Launcher"
    source: "winget"
- name: winget_Microsoft.DotNet.Framework.DeveloperPack.4.6
  type: Microsoft.WinGet/Package
  metadata:
    description: "Install Microsoft.DotNet.Framework.DeveloperPack.4.6"
  properties:
    id: "Microsoft.DotNet.Framework.DeveloperPack.4.6"
    source: "winget"
- name: winget_Microsoft.VCRedist.2005.x86
  type: Microsoft.WinGet/Package
  metadata:
    description: "Install Microsoft.VCRedist.2005.x86"
  properties:
    id: "Microsoft.VCRedist.2005.x86"
    source: "winget"
- name: winget_Microsoft.VCRedist.2010.x86
  type: Microsoft.WinGet/Package
  metadata:
    description: "Install Microsoft.VCRedist.2010.x86"
  properties:
    id: "Microsoft.VCRedist.2010.x86"
    source: "winget"
- name: winget_Microsoft.VCRedist.2015+.x64
  type: Microsoft.WinGet/Package
  metadata:
    description: "Install Microsoft.VCRedist.2015+.x64"
  properties:
    id: "Microsoft.VCRedist.2015+.x64"
    source: "winget"
- name: winget_Microsoft.DotNet.DesktopRuntime.8
  type: Microsoft.WinGet/Package
  metadata:
    description: "Install Microsoft.DotNet.DesktopRuntime.8"
  properties:
    id: "Microsoft.DotNet.DesktopRuntime.8"
    source: "winget"
- name: winget_BurntSushi.ripgrep.GNU
  type: Microsoft.WinGet/Package
  metadata:
    description: "Install BurntSushi.ripgrep.GNU"
  properties:
    id: "BurntSushi.ripgrep.GNU"
    source: "winget"
- name: winget_MiKTeX.MiKTeX
  type: Microsoft.WinGet/Package
  metadata:
    description: "Install MiKTeX.MiKTeX"
  properties:
    id: "MiKTeX.MiKTeX"
    source: "winget"
- name: winget_Microsoft.Azure.AZCopy.10
  type: Microsoft.WinGet/Package
  metadata:
    description: "Install Microsoft.Azure.AZCopy.10"
  properties:
    id: "Microsoft.Azure.AZCopy.10"
    source: "winget"
- name: winget_lucasg.Dependencies
  type: Microsoft.WinGet/Package
  metadata:
    description: "Install lucasg.Dependencies"
  properties:
    id: "lucasg.Dependencies"
    source: "winget"
- name: winget_sharkdp.fd
  type: Microsoft.WinGet/Package
  metadata:
    description: "Install sharkdp.fd"
  properties:
    id: "sharkdp.fd"
    source: "winget"
- name: winget_Python.Python.3.12
  type: Microsoft.WinGet/Package
  metadata:
    description: "Install Python.Python.3.12"
  properties:
    id: "Python.Python.3.12"
    source: "winget"
- name: winget_Microsoft.VCLibs.Desktop.14
  type: Microsoft.WinGet/Package
  metadata:
    description: "Install Microsoft.VCLibs.Desktop.14"
  properties:
    id: "Microsoft.VCLibs.Desktop.14"
    source: "winget"
- name: winget_Microsoft.WinDbg
  type: Microsoft.WinGet/Package
  metadata:
    description: "Install Microsoft.WinDbg"
  properties:
    id: "Microsoft.WinDbg"
    source: "winget"